#run java 
#run = "javac -classpath .:/run_dir/junit-4.12.jar:target/dependency/* -d . BOJ1271.java \n java -classpath .:/run_dir/junit-4.12.jar:target/dependency/* Main"
#run python
run="python Python/BOJ1271.py" 